<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="chat_container">
        <div id="chatbox">
            <div id="chat_head">
                <img src="static/tebi.png" alt="Descripción de la imagen" width="30" height="30">
                <span>TebiAssistant</span>
            </div>
            <div id="messages"></div>
            <div id="input_area">
                <input type="text" id="user_input" placeholder="Escribe un mensaje..." />
                <button id="send_btn">Enviar</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>